@media screen and (max-width: 959px) {
 

  body{
    text-align:center;
    background-color: rgb(226, 241, 255);
    font-family: ほのかアンティーク丸;
  }

  	
  html, body { height:100%; margin:0; }
  
  h1{
    font-size:25px;
  }
  
  .title{
    background-color: azure;
    margin: auto;
  }
  
  .title h1{
    font-size:100px;
    margin: 0;
  }  
  
  .wrap{
    display:flex;
    justify-content:center;
  }
  
  .container{
    display:grid;
    grid-template-rows: repeat(8,60px);
    grid-template-columns: repeat(8,60px);
    grid-gap:3px;
    background-color:black;
    padding:12px;
    cursor: pointer;
  }
  
  .item{
    background-color: green;
  }

  [data-color="white"],
  [data-color="black"]{
    pointer-events: none;
    cursor:default;
  }
  
  [data-color="white"]::after,
  [data-color="black"]::after
  {
    content:'';
    display:block;
    background-color: white;
    height:100%;
    border-radius:50%;
    cursor:default;
  }
  
  [data-color="white"]::after{
    background-color: white;
  }
  
  [data-color="black"]::after{
    background-color: black;
  }

  #ws{
    font-size: 50px;
    display: inline-block;
    margin:0 auto;
    padding-right: 10px;
  }

  #bs{
    font-size: 50px;
    display: inline-block;
    margin:0 auto;
  }

  p{
    display: inline-block;
    margin:0;
  }

  #turn{
    font-size: 60px;
  }

  #pass{
    font-size: 25px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    visibility: visible; 
  }

  #reload
  {
    font-size: 25px;
    position: fixed;
    bottom: 10px; 
    right: 10px;
    padding: 6px 40px;
    text-decoration: none;
    background: #E06666;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #ad4e4e;
    border-radius: 3px;
  }

  #reload:active{
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

}
